In [1]:
import pandas

In [2]:
import pandas as pd

Step 3. Assign it to a variable called baby_names.

In [3]:
url ="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
baby_names = pd.read_csv(url, delimiter='\t')
baby_names.head(10)

    ,Id,Name,Year,Gender,State,Count
0      11349,11350,Emma,2004,F,AK,62
1   11350,11351,Madison,2004,F,AK,48
2    11351,11352,Hannah,2004,F,AK,46
3     11352,11353,Grace,2004,F,AK,44
4     11353,11354,Emily,2004,F,AK,41
5   11354,11355,Abigail,2004,F,AK,37
6    11355,11356,Olivia,2004,F,AK,33
7  11356,11357,Isabella,2004,F,AK,30
8    11357,11358,Alyssa,2004,F,AK,29
9    11358,11359,Sophia,2004,F,AK,28

Step 4. See the first 10 entries

In [5]:
# first 10 entries of the baby_names
print(baby_names.head(11))

     ,Id,Name,Year,Gender,State,Count
0       11349,11350,Emma,2004,F,AK,62
1    11350,11351,Madison,2004,F,AK,48
2     11351,11352,Hannah,2004,F,AK,46
3      11352,11353,Grace,2004,F,AK,44
4      11353,11354,Emily,2004,F,AK,41
5    11354,11355,Abigail,2004,F,AK,37
6     11355,11356,Olivia,2004,F,AK,33
7   11356,11357,Isabella,2004,F,AK,30
8     11357,11358,Alyssa,2004,F,AK,29
9     11358,11359,Sophia,2004,F,AK,28
10    11359,11360,Alexis,2004,F,AK,27

Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [7]:
import pandas as pd
from io import StringIO

data = """
Id,Name,Year,Gender,State,Count
11349,Emma,2004,F,AK,62
11350,Madison,2004,F,AK,48
11351,Hannah,2004,F,AK,46
11352,Grace,2004,F,AK,44
11353,Emily,2004,F,AK,41
11354,Abigail,2004,F,AK,37
11355,Olivia,2004,F,AK,33
11356,Isabella,2004,F,AK,30
11357,Alyssa,2004,F,AK,29
11358,Sophia,2004,F,AK,28
"""

baby_names = pd.read_csv(StringIO(data))

baby_names.drop(['Id'], axis=1, inplace=True)

print("First 10 entries of Baby Names DataFrame after dropping 'Id' column:")
print(baby_names.head(10))

First 10 entries of Baby Names DataFrame after dropping 'Id' column:
       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

Step 6. Is there more male or female names in the dataset?

In [24]:
# Count the number of male and female names
gender_counts = baby_names['Gender'].value_counts()

# Display the counts
print(gender_counts)

Gender
F    10
Name: count, dtype: int64

Step 7. Group the dataset by name and assign to names

In [22]:
# Group the dataset by the 'Name' column
names = baby_names.groupby('Name')

# Display the first few groups
for name, group in names:
    print(f"Name: {name}")
    print(group.head())
    print()

# Alternatively, you can view a summary of the groups
print(names.size())

Name: Abigail
      Name  Year Gender State  Count
5  Abigail  2004      F    AK     37

Name: Alyssa
     Name  Year Gender State  Count
8  Alyssa  2004      F    AK     29

Name: Emily
    Name  Year Gender State  Count
4  Emily  2004      F    AK     41

Name: Emma
   Name  Year Gender State  Count
0  Emma  2004      F    AK     62

Name: Grace
    Name  Year Gender State  Count
3  Grace  2004      F    AK     44

Name: Hannah
     Name  Year Gender State  Count
2  Hannah  2004      F    AK     46

Name: Isabella
       Name  Year Gender State  Count
7  Isabella  2004      F    AK     30

Name: Madison
      Name  Year Gender State  Count
1  Madison  2004      F    AK     48

Name: Olivia
     Name  Year Gender State  Count
6  Olivia  2004      F    AK     33

Name: Sophia
     Name  Year Gender State  Count
9  Sophia  2004      F    AK     28

Name
Abigail     1
Alyssa      1
Emily       1
Emma        1
Grace       1
Hannah      1
Isabella    1
Madison     1
Olivia      1
Sophia      1
dtype: int64

Step 8. How many different names exist in the dataset?

In [21]:
# Find out the number of different names in the dataset
num_unique_names = baby_names['Name'].nunique()

print(f"There are {num_unique_names} different names in the dataset.")

There are 10 different names in the dataset.

Step 9. What is the name with most occurrences?

In [25]:
# Group by the 'Name' column and sum the 'Count' column
name_counts = baby_names.groupby('Name')['Count'].sum()

# Find the name with the highest total count
most_common_name = name_counts.idxmax()
most_common_name_count = name_counts.max()

# Display the result
print(f"The name with the most occurrences is {most_common_name} with {most_common_name_count} occurrences.")

The name with the most occurrences is Emma with 62 occurrences.

Step 10. How many different names have the least occurrences?

In [26]:
# Group by the 'Name' column and sum the 'Count' column
name_counts = baby_names.groupby('Name')['Count'].sum()

# Find the minimum value in the summed counts
min_count = name_counts.min()

# Count how many names have this minimum value
names_with_min_count = (name_counts == min_count).sum()

# Display the result
print(f"There are {names_with_min_count} different names with the least occurrences ({min_count} occurrences).")

There are 1 different names with the least occurrences (28 occurrences).

Step 11. What is the median name occurrence?

In [27]:
# Group by the 'Name' column and sum the 'Count' column
name_counts = baby_names.groupby('Name')['Count'].sum()

# Find the median value of these counts
median_count = name_counts.median()

# Display the result
print(f"The median name occurrence is {median_count}.")

The median name occurrence is 39.0.

Step 12. What is the standard deviation of names?

In [28]:
# Assuming baby_names DataFrame is already created and cleaned

# Group by the 'Name' column and sum the 'Count' column
name_counts = baby_names.groupby('Name')['Count'].sum()

# Calculate the standard deviation of the summed counts
std_dev = name_counts.std()

# Display the result
print(f"The standard deviation of the name occurrences is {std_dev}.")

The standard deviation of the name occurrences is 10.664583129843066.

Step 13. Get a summary with the mean, min, max, std and quartiles.

In [29]:
# Assuming baby_names DataFrame is already created and cleaned

# Group by the 'Name' column and sum the 'Count' column
name_counts = baby_names.groupby('Name')['Count'].sum()

# Get the summary statistics
summary_stats = name_counts.describe()

# Display the summary
print(summary_stats)

count    10.000000
mean     39.800000
std      10.664583
min      28.000000
25%      30.750000
50%      39.000000
75%      45.500000
max      62.000000
Name: Count, dtype: float64